<body>
    <div class="p">
        <div style="height: 150px;"></div>
    <div class="wrapper">
      <div class="product-img">
        <img src="{{data[0].img}}" height="420" width="327">
      </div>
      <div class="product-info">
        <div class="product-text">
          <h2>{{data[0].MotherBoard}}</h2>
          <p>Purpose :{{data[0].Purpose}}</p>
          <p>Processor :{{data[0].Processor}}</p>
          <p>GPU :{{data[0].GPUCard}}</p>
          <p>Storage :{{data[0].SSD}}</p>
          <p>RAM :{{data[0].RAM}}</p>
          <p>Power Supply :{{data[0].PowerSupply}}</p>

        </div>
        <div class="product-price-btn">
          <p>Rs<span>{{data[0].Price}}</span></p><br><br>
          <button type="button"><a routerLink="/buynow" style="text-decoration: none;">buy now</a></button>
        </div>
      </div>
    </div>
</div>
  
  </body>
  
  



















































































