.ll{
    background-image: url('../../../assets/images/3.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.mm{
    opacity: 50%;
}