

<div class="m text-center">
  <div class="kk"><br><br><br>
    <input type="text" class="form-control fw-semibold --bs-dark-bg-subtle" placeholder="Enter Budget" aria-label="Enter Budget"><br>
<select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
  <option selected>Select Your Purpose</option>
  <option value="1">General Purpose</option>
  <option value="2">Gaming</option>
  <option value="3">Learning</option>
</select><br>
<select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
  <option selected>GPU</option>
  <option value="1">GT Series</option>
  <option value="2">GTX Series</option>
  <option value="3">RTX Series</option>
</select><br>
<select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
  <option selected>Processor</option>
  <option value="1">i 3</option>
  <option value="2">i 5</option>
  <option value="3">i 7</option>
  <option value="4">i 9</option>
  <option value="5">i 11</option>
</select><br>
<select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
  <option selected>Storage</option>
  <option value="1">256gb SSD</option>
  <option value="2">512gb SSD</option>
  <option value="3">1TB SSD</option>
  <option value="4">2TB SSD</option>
</select><br>
<button type="button" class="btn btn-primary btn-lg">Check</button><br><br>
</div>
<div style="height: 100px;"></div>
</div>


