<!-- Remove the container if you want to extend the Footer to full width. -->


  <footer class="text-center text-lg-start text-white">
    <!-- Grid container -->
    <div class="container p-4">
      <!--Grid row-->
      <div class="row my-4">
        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">

          <div class="rounded-circle bg-white shadow-1-strong d-flex align-items-center justify-content-center mb-4 mx-auto" style="width: 150px; height: 150px;">
            <img src="https://icon2.cleanpng.com/20180131/fve/kisspng-razer-phone-razer-inc-laptop-computer-case-comput-razer-logo-png-transparent-image-5a72473d8b6993.8362257615174387815711.jpg" height="150" alt="" style="border-radius: 250px;"
                 loading="lazy" />
          </div>

          <p class="" style="width: 550px;">Building your own PC is a rewarding experience. With our new approach,
            we'll help you to be sure that the compatibility of your selected PC parts is just right.We're a team of PC experts and we're here to help you turn your imagination into reality.
            We've been managing PC related technologies for years and are best at it.</p>

          <ul class="list-unstyled d-flex flex-row justify-content-center">
            <li>
              <a class="text-white px-2" href="#!">
                <i class="fab fa-facebook-square"></i>
              </a>
            </li>
            <li>
              <a class="text-white px-2" href="#!">
                <i class="fab fa-instagram"></i>
              </a>
            </li>
            <li>
              <a class="text-white ps-2" href="#!">
                <i class="fab fa-youtube"></i>
              </a>
            </li>
          </ul>

        </div>
        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        </div>


        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase mb-4">Quick Links</h5>

          <ul class="list-unstyled">
            <li class="mb-2">
              <a routerLink="" class="text-white" style="text-decoration: none;"><i class="fas fa-paw pe-3"></i>home</a>
            </li>
            <li class="mb-2">
              <a routerLink="/products" class="text-white" style="text-decoration: none;"><i class="fas fa-paw pe-3"></i>Products</a>
            </li>
            <li class="mb-2">
              <a routerLink="/signup" class="text-white" style="text-decoration: none;"><i class="fas fa-paw pe-3"></i>Sign Up</a>
            </li>
            <li class="mb-2">
              <a routerLink="/aboutus" class="text-white" style="text-decoration: none;"><i class="fas fa-paw pe-3"></i>About Us</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->

        

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0 x">
          <h5 class="text-uppercase mb-4">Contact</h5>

          <ul class="list-unstyled">
            <li>
              <i class="bi bi-geo-alt-fill"></i>
              &nbsp;&nbsp;<span>Macfast, Thukalassery, Thiruvalla</span>
            </li>
            <li>
              <i class="bi bi-telephone-forward"></i>
              &nbsp;&nbsp;<span>+91 235 654 4884</span>
            </li>
            <li>
              <i class="bi bi-envelope-at"></i>
              &nbsp;&nbsp; <span>pcbuilder@gmail.com</span>
            </li>
          </ul>
        </div>
        <!--Grid column-->
      </div>
      <!--Grid row-->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
      © 2023 Copyright:
      <a class="text-white" href="https://mdbootstrap.com/">pcbuilder.com</a>
    </div>
    <!-- Copyright -->
  </footer>


<!-- End of .container -->