<div class="k">
    <div class="container"><br><br>
	<div class="front side">
		<div class="content">
			<h1>About Us</h1>
			<p>In the span of a few years, we’ve put together an incredible team passionate enough to do what we do while delivering custom-made solutions ranging from Complete Desktop Setups for AI & Deep Learning, Graphic Designing, Video Editing, Rendering, and 3D Designing & Animation, to High-End Gaming Computers.
			</p>
		</div>
	</div>
	<div class="back side">
		<div class="content">
			<h1>Contact Me</h1>
			<form>
				<label>Your Name :</label>
				<input type="text" placeholder="">
				<label>Your E-mail :</label>
				<input type="text" placeholder="Example@mail.com">
				<label>Your message :</label>
				<textarea placeholder="The Subject"></textarea>
				<input type="submit" value="Done">
			</form>
		</div>
	</div>
    </div>
</div>
